.comment-div {
  font-weight: bold;
  width: 30em;
  text-align: left;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  background: #fcf8e3;
  border: 1px solid #faebcc;
  border-radius: 4px;
  color: #8a6d3b;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
}

.comment-div div {
}

.card-header {
  text-align: left;
}

.card-header div {
  text-align: left;
}
